<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Login</h1>
    <p class="lead">This view allows to login. You have to provide your credentials which you used for registering user account.</p>
  </div>

  <p>loginForm: {{ loginForm.value | json }}</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">

      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        [class.is-invalid]="email.invalid && email.touched"
        formControlName="email">

        <div *ngIf="email.invalid && email.touched">
          <small *ngIf="email.errors.required" class="text-danger">Email is required.</small>
          <small *ngIf="email.errors.email" class="text-danger">Email must be valid email.</small>
        </div>

    </div>

    <div class="mb-3">

      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="password.invalid && password.touched"
        formControlName="password">

        <div *ngIf="password.invalid && password.touched">
          <small *ngIf="password.errors.required" class="text-danger">Password is required.</small>
        </div>

    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid">Login</button>

    <button type="reset" class="btn btn-secondary">Reset</button>

  </form>

</main>
