<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Games</h1>
    <p class="lead">This view shows information about the games.</p>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <p>Status: {{ error.error.status }}!</p>
    <p>Message: {{ error.error.message }}</p>
  </div>

  <div *ngIf="games.length > 0; then thenGames; else elseGames"></div>

  <ng-template #thenGames>

    <div *ngFor="let game of games" class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{ game.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Category: {{ game.genre }}</h6>
        <p class="card-text">{{ game.description }}</p>
        <a [routerLink]="['/games', game._id]" class="card-link">Show</a>
        <a [routerLink]="['/games', game._id, 'edit']" class="card-link">Edit</a>
      </div>
    </div>

  </ng-template>

  <ng-template #elseGames>
    <p>There are not any games.</p>
  </ng-template>

</main>
