<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Show: {{ game.name }}</h1>
    <p class="lead">This view shows information about the game.</p>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <p>Status: {{ error.error.status }}!</p>
    <p>Something went wrong. Please try again or visit <a [routerLink]="['/']">home</a> view.</p>
  </div>

  <div *ngIf="game; then thenGame; else elseGame"></div>

  <ng-template #thenGame>

    <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['/games/', game._id]" class="nav-link">Show</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/games/', game._id, 'edit']" class="nav-link">Edit</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/games']" class="nav-link">Back to Games</a>
      </li>
    </ul>

    <h2>Details</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="badge bg-secondary">ID</span></td>
          <td>{{ game._id }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Name</span></td>
          <td>{{ game.name }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Description</span></td>
          <td>{{ game.description }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Genre</span></td>
          <td>{{ game.genre }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Developer</span></td>
          <td>{{ game.developer }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Engine</span></td>
          <td>{{ game.engine }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Platforms</span></td>
          <td>{{ game.platforms }}</td>
        </tr>
      </tbody>
    </table>

  </ng-template>

  <ng-template #elseGame>
    <p>There is not information about this game.</p>
  </ng-template>

</main>
