<main class="container">

  <h1>Mod</h1>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <p>Status: {{ error.error.status }}!</p>
    <p>Something went wrong. Please try again or visit <a [routerLink]="['/']">home</a> view.</p>
  </div>

  <div *ngIf="mod; then thenMod; else elseMod"></div>

  <ng-template #thenMod>
    <p><a [routerLink]="['/mods/', mod._id, 'edit']">Edit</a></p>
    <p>_id: {{ mod._id }}</p>
    <p>name: {{ mod.name }}</p>
    <p>description: {{ mod.description }}</p>
    <p>game: {{ mod.game }}</p>
    <p>author: {{ mod.author ? mod.author : 'Unknown' }}</p>
  </ng-template>

  <ng-template #elseMod>
    <p>There is not information about this mod.</p>
  </ng-template>

</main>
