<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Show: {{ mod?.name }}</h1>
    <p class="lead">This view shows information about the mod.</p>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <p>Status: {{ error.error.status }}!</p>
    <p>Something went wrong. Please try again or visit <a [routerLink]="['/']">home</a> view.</p>
  </div>

  <div *ngIf="mod; then thenMod; else elseMod"></div>

  <ng-template #thenMod>

    <ul class="nav shadow-sm p-3 mb-5 bg-white">
      <li class="nav-item">
        <a [routerLink]="['/mods/', mod._id]" class="nav-link active">Show</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/mods/', mod._id, 'edit']" class="nav-link">Edit</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/mods']" class="nav-link">Back to Mods</a>
      </li>
    </ul>

    <h2>Details</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="badge bg-secondary">ID</span></td>
          <td>{{ mod._id }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Name</span></td>
          <td>{{ mod.name }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Description</span></td>
          <td>{{ mod.description }}</td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Game</span></td>
          <td>
            <a [routerLink]="['/games', game?._id]">{{ game?.name }}</a>
          </td>
        </tr>
        <tr>
          <td><span class="badge bg-secondary">Author</span></td>
          <td>{{ mod.author }}</td>
        </tr>
      </tbody>
    </table>

  </ng-template>

  <ng-template #elseMod>
    <p>There is not information about this mod.</p>
  </ng-template>

</main>
