<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Mods</h1>
    <p class="lead">This view shows information about the mods. Number of mods: {{ mods.length }}.</p>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <p>Status: {{ error.error.status }}!</p>
    <p>Something went wrong. Please try again or visit <a [routerLink]="['/']">home</a> view.</p>
    <button type="button" class="btn btn-danger" (click)="closeErrorAlert()">Close</button>
  </div>

  <div *ngIf="mods.length > 0; then thenMods; else elseMods"></div>

  <ng-template #thenMods>

    <div *ngFor="let mod of mods | slice: (page - 1) * pageSize : page * pageSize" class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{ mod.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Author: {{ mod.author }}</h6>
        <p class="card-text">{{ mod.description }}</p>
        <a [routerLink]="['/mods', mod._id]" class="card-link">Show</a>
        <a [routerLink]="['/mods', mod._id, 'edit']" class="card-link">Edit</a>
      </div>
    </div>

    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="mods.length"></ngb-pagination>

  </ng-template>

  <ng-template #elseMods>
    <p>There are not any mods.</p>
  </ng-template>

</main>
