<main class="container">

  <div class="text-center py-5 px-3">
    <h1>Home</h1>
    <p class="lead">This view allows to quick access to specific part of application. Also you can find here links to documentation.</p>
  </div>

  <div class="row mb-5">

    <div class="col-md-4">
      <h2>Lists</h2>
      <ul>
        <li>
          <a [routerLink]="['/games']">Games</a>
        </li>
        <li>
          <a [routerLink]="['/mods']">Mods</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Quick Actions</h2>
      <ul>
        <li>
          <a [routerLink]="['/games/create']">Add new Game</a>
        </li>
        <li>
          <a [routerLink]="['/mods/create']">Add new Mod</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Misc</h2>
      <ul>
        <li>
          <a href="https://github.com/pawelkudzia/modmanager" target="_blank">ModManager on GitHub</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8">
      <h2>General Stats</h2>
      <p>Here you can find out some stats.</p>

      <div *ngIf="error" class="alert alert-danger" role="alert">
        <p>Status: {{ error.error.status }}!</p>
        <p>Something went wrong. Please try again or visit <a [routerLink]="['/']">home</a> view.</p>
        <button type="button" class="btn btn-danger" (click)="closeErrorAlert()">Close</button>
      </div>

      <div *ngIf="(gamesCount > 0 || modsCount > 0) then thenGamesAndMods; else elseGamesAndMods"></div>

      <ng-template #thenGamesAndMods>
        <div class="chart">
          <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </ng-template>

      <ng-template #elseGamesAndMods>
        <p>Currently, there are not any games or mods.</p>
      </ng-template>

    </div>

    <div class="col-md-4">
      <h2>Summary</h2>
      <p>There are:</p>
      <ul>
        <li>{{ gamesCount }} games</li>
        <li>{{ modsCount }} mods</li>
      </ul>
    </div>

  </div>

</main>
